<!--En un h1 mostramos el titulo del articulo-->
<h1> <%=@article.title%> </h1>

<!--En un dev mostramos el contenido del articulo, en este caso el texto enriquecido-->
<dev>
 <%=@article.content%>
</dev>
